<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Browse Recipe</title>
</head>
<body>

  <section>
      <div class="contain">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/css/imgs/jimmy-dean-Yl7Y8DhyzyY-unsplash.jpg" class="d-block w-100 imgs" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/css/imgs/national-cancer-institute-BQPi8F_UON0-unsplash.jpg" class="d-block w-100 imgs" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/css/imgs/national-cancer-institute-cfGG0niafjc-unsplash.jpg" class="d-block w-100 imgs" alt="...">
            </div>
          </div>
        </div>
        
      <!-- <img class="main_img" src="" alt=""> -->
    </div>



  </section>
  

  
  <nav class="nav mb-5">
   <a href="" class="nav-link">Home</a>
   <a href="" class="nav-link">Browse Dishes</a>
   <a href="" class="nav-link">Sign up / Login </a>
   <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </nav>
  

  <section>
    
    <div class="container">
      <h1 class="mb-5">All Recipes</h1>
      <div class="row mb-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/betty-rotaru-wsTyo-16DVg-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/ikhsan-baihaqi-RwAXb8Hv_sU-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/sigmund-nHq5a_XbIZ0-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/thomas-tucker-MNtag_eXMKw-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/ting-tian-al9eh9QkdPA-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/eaters-collective-ddZYOtZUnBk-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/mae-mu-TkzdkVn1AyA-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/brooke-lark-oaz0raysASk-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="./static/css/imgs/aleisha-kalina-xbKl_a4_8c4-unsplash.jpg" class="card-img-top cardImg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  </section>





<footer>
  <a class="foot-link" href="">Github</a>
  <a class="foot-link" href="">Github</a>
  <a class="foot-link" href="">Github</a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
