<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Browse Recipe</title>
</head>
<body>
    



    <div class="bkg_content">
      
        <div class="main_content">
        
        </div>
        
            <div class="border">
              <nav class="nav">
                <a href="" class="nav-link">Home</a>
                <a href="" class="nav-link">Browse Dishes</a>
                <a href="" class="nav-link">Sign up / Login </a>
               </nav>
                <h1 class="p-4">Login Here</h1><br>

      <form class="table.responsive">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
          <label for="pw" class="form-label">Password</label>
        <input type="pw" id="pw" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
     
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        </div>
    </div>

    <footer>
      <a class="foot-link" href="">Github</a>
      <a class="foot-link" href="">Github</a>
      <a class="foot-link" href="">Github</a>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
