.main_content {
    width: 100vw;
    height: 100vh;
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1545601445-4d6a0a0565f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80);
    filter: blur(2px);
}
.border {
    background-color: white;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    width: 75%;
    padding: 25px;
    text-align: left;
}
.nav {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #FFE194;
    position: absolute;
    z-index: 100;
  }
  .nav-link {
    color:#4C4C6D;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 180px;
  }
  .nav-link:hover {
    color:#B8DFD8;
  }