* {
  margin: 0px;
  padding: 0px;
}
.contain {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .banner {
  overflow: hidden;
  max-height: 30vw;
} */