* {
  margin: 0px;
  padding: 0px;
}
.nav {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #DD2C00;
  position: absolute;
  z-index: 100;
}
.nav-link {
  color:#B2EBF2;
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 180px;
}
.nav-link:hover {
  color:#00BCD4;
}
.contain {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgs{
  height: 65rem;
}

.headingP {
  font-size: 3.5rem;
  text-align: center;
  margin: 30px 0px;
  color:#DD2C00;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
  background-color: #00BCD4;
}

.foot-link {
  color: #FF5722;
  font-size: 1.2rem;
  text-decoration: none;
}
.foot-link:hover {
  color: #DD2C00;
}
/* .banner {
  overflow: hidden;
  max-height: 30vw;
} */
/* SEE RECIPE */
.cardImg {
  height: 300px;
}
.form-main_content-login {
  width: 100vw;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1545601445-4d6a0a0565f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80);
  filter: blur(2px);
}
.form-main_content-create_dish {
  width: 100vw;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1540420828642-fca2c5c18abe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1530&q=80);
  filter: blur(2px);
}
.form-main_content-create_fam {
  width: 100vw;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  filter: blur(2px);
}
.form-main_content-register {
  width: 100vw;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1556910096-6f5e72db6803?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  filter: blur(2px);
}
.form-main_content-join_fam {
  width: 100vw;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1515516089376-88db1e26e9c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);
  filter: blur(2px);
}
.form-border {
  background-color: white;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 100%;
  width: 70%;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.form-nav-bkg {
  background-color: #DD2C00;
  height: 50px;
  width: 100vw;
  position: absolute;
  z-index: 100;
}
.form-nav {
  display: flex;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-evenly;
  position: absolute;
  z-index: 100;
}
.form-nav-link {
  color: #B2EBF2;
  font-size: 1.2rem;
  text-decoration: none;
}
.form-nav-link:hover {
  color: #00BCD4;
} 

.form-foot-bkg {
  display: flex;
  align-items: center;
  background-color: #00BCD4;
  height: 75px;
  width: 100vw;
  position: absolute;
  z-index: 100;
  bottom: 0%;
}
.form-foot-nav {
  display: flex;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-evenly;
  position: absolute;
  z-index: 100;
}
.form-foot-link {
  color: #FF5722;
  font-size: 1.2rem;
  text-decoration: none;
}

.form-foot-link:hover {
 color: #DD2C00;
}